.background {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #024f76;
}

.background img {
  width: 100%;
  margin-top: 10vh;
}

.header {
  background-color: #fff;
  padding: 5vh;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 10vh;
  margin-bottom: 3vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3vh;
  margin-left: 3vw;
  margin-right: 3vw;
}

@media screen and (max-width: 1000px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .header {
    margin-left: 3vw;
    margin-right: 3vw;
  }
}
