.background {
  background-color: #f0f0f0; /* Set your background color here */
  padding: 20px; /* Add some padding around the grid */
  position: absolute;
  max-width: 100%;
  height: fit-content;
  top: 360px;
  margin-right: 12%;
  display: "flex";
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  background-color: #949aaa;
  color: black;
  padding-bottom: 0px;
}

.background img {
  width: 117.5%;
  margin-top: 20px;
  margin-bottom: -12px;
  margin-left: -20px;
  /* position: absolute; */
}

.header {
  background-color: #fff; /* Set the background color of each grid item */
  padding: 40px; /* Add padding to the grid items */
  /* box-sizing: border-box; */
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0px;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.header p {
  font-size: 20px;
  line-height: 1.5;
}

.grid-container {
  display: grid; /* Use grid layout */
  grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
  grid-gap: 20px; /* Gap between grid items */
}

.grid-child {
  height: 500px; /* Set the height as desired */
  background-color: #fff; /* Set the background color of each grid item */
  padding: 40px; /* Add padding to the grid items */
  box-sizing: border-box; /* Include padding and borders in the width calculation */
  color: black;
}

/* Add additional CSS styles to customize the appearance of grid items */
.grid-child h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.grid-child p {
  font-size: 20px;
  line-height: 1.5;
}
