.logo-container {
  /* border-style: solid;
  border-color: rgb(127, 255, 212); */
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-image {
  z-index: 1;
  height: 20vh;
  margin-left: 3vw;
}

.logo-image:hover {
  cursor: pointer;
}

.language-chooser {
  width: 10vw;
  margin-right: 3vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.activeLang {
  border-bottom: 4px solid #00aeef;
  /* border: 1px solid #7ccdf5; */
}

.inactiveLang {
  height: 2.5vh;
  /* border: 1px solid black; */
  overflow: hidden;
}

.flag {
  z-index: 1;
  height: 2vh;
  margin: 2px;
}

.flag:hover {
  cursor: pointer;
  filter: grayscale(0%) !important;
}

.underline-machine {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.line-container {
  border-style: solid;
  width: 10vw;
}

/* 
.logo-container span {
  font-size: 20px;
  color: black;
  font-weight: bold;
  width: 400px;
  margin-left: 40px;
  margin-top: 95px;
}

.intro {
  padding: 20px;
  display: none;
  flex-direction: row;
  border-style: solid;
  height: 10%;
}

.top-line {
  width: 20%;
  height: auto;
  border-style: solid;
}

.bottom-line {
  width: 20%;
  height: auto;
  border-style: solid;
}

svg line {
  stroke: #b4daed;
} */
