.logo-container {
  z-index: 1;
  border-style: solid;
  border-color: rgb(127, 255, 212);
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
}

.logo-image {
  max-width: 30vw;
}

.logo-container span {
  font-size: 20px;
  color: black;
  font-weight: bold;
  width: 400px;
  margin-left: 40px;
  margin-top: 95px;
}

.intro {
  padding: 20px;
  display: none;
  flex-direction: row;
  border-style: solid;
  height: 10%;
}

.top-line {
  width: 20%;
  height: auto;
  /* border-style: solid; */
}

.bottom-line {
  width: 20%;
  height: auto;
  /* border-style: solid; */
}

svg line {
  stroke: #b4daed;
}
