.logo-container {
  border-style: solid;
  border-color: rgb(127, 255, 212);
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-image {
  z-index: 1;
  height: 20vh;
  margin-left: 3vw;
}

.logo-image:hover {
  cursor: pointer;
}

.language-chooser {
  width: 10vw;
  margin-right: 3vw;
  border-style: solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.language-chooser > div {
  padding: 8px;
  margin: 4px;
}

.language-chooser img {
  height: 100%;
}

.activeLang {
  border-bottom: 4px solid #7ccdf5;
}

.flag {
  z-index: 1;
  width: 3vw;
  margin: 2px;
}

.flag:hover {
  cursor: pointer;
  filter: grayscale(0%) !important;
}

/* 
.logo-container span {
  font-size: 20px;
  color: black;
  font-weight: bold;
  width: 400px;
  margin-left: 40px;
  margin-top: 95px;
}

.intro {
  padding: 20px;
  display: none;
  flex-direction: row;
  border-style: solid;
  height: 10%;
}

.top-line {
  width: 20%;
  height: auto;
  border-style: solid;
}

.bottom-line {
  width: 20%;
  height: auto;
  border-style: solid;
}

svg line {
  stroke: #b4daed;
} */
