.nav-container {
  z-index: 1;
  width: 40vw;
  height: 15vh;
  margin-left: 60vw;
  background-color: #1c4673;
  text-align: center;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: sticky;
}

/* @media screen and (max-width: 1150px) {
  .nav-container {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    height: 100%;
  }
} */
.nav-container ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.nav-container li {
  display: inline-block;
  margin: 0 20px;
}

.nav-container a {
  text-decoration: none;
  color: #b4daed;
  font-weight: bold;
}

.nav-container a:hover {
  color: #fff;
  text-decoration: underline;
}
