/* .nav-container {
  z-index: 1;
  height: 15vh;
  width: 40vw;
  margin-left: 10vw;
  background-color: #1c4673;
  text-align: center;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
} */

.nav-child {
  text-decoration: none;
  color: #b4daed;
}

.nav-child:hover {
  color: #fff;
  text-decoration: underline;
}

.nav-show-btn {
  display: none !important;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

@media screen and (max-width: 1000px) {
  .nav-container {
    flex-direction: column;
    width: 100vw;
    margin-left: 0;
    height: 100%;
  }
  .nav-child {
    display: none;
  }

  .nav-show-btn {
    display: block !important;
  }
}
