body {
  /* width: 100%;
  min-height: 100vh;
  height: fit-content; */
  margin: 0;
  padding: 0;
  border-style: solid;
  border-color: #760236;
  /* display: flex; */
  /* flex-direction: column; */
}

#root {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
