@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "raleway"; /* Give your font a name */
  src: url("./Components/Font/Raleway-VariableFont_wght.ttf") format("truetype"); /* Point to the font file */
  /* Add additional formats if necessary */
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "raleway";
  color: aliceblue;
}

#root {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  z-index: -10;
}
